<div class="container">
  <div class="row">
    <div class="col-6 d-flex flex-column">
      <div class="d-flex flex-row align-items-center">
        <img class="me-2" src="../../../../../assets/build/img/png/cloudy-logo.png" alt="img" style="width: 40px !important;"/>
        <div class="d-flex flex-row">
          <p style="font-size: 2rem; margin: 0;">{{weather[0].main.temp}}</p>
          <p style="font-size: 1rem; vertical-align: super;">°C</p>
        </div>
      </div>
      <div class="d-flex flex-column">
        <p style="font-size: 0.8rem; margin-bottom: 0;">Humedad: {{weather[0].main.humidity}}%</p>
        <div class="d-flex flex-row">
          <p style="font-size: 0.8rem; margin-bottom: 0;">Sensacion termica: {{weather[0].main.feels_like}}</p>
          <p style="font-size: 0.5rem; vertical-align: super; margin-bottom: 0;">°C</p>
        </div>
        <p style="font-size: 0.8rem; margin-bottom: 0;">P. Atmosferica: {{weather[0].main.pressure}} hPa</p>
      </div>
    </div>
    <div class="col-6 d-flex flex-column">
      <p style="font-size: 2rem;text-align: end;margin-bottom: 0;">Clima</p>
      <p style="font-size: 0.8rem;text-align: end;margin-bottom: 0;">{{weather[0].weather[0].description}}</p>
    </div>
  </div>
  <div class="row mt-2">
    <div class="card">
      <p-chart type="line" [data]="data" [options]="options"></p-chart>
    </div>
  </div>
</div>
