<nav class="navbar navbar-expand-lg bg-body-tertiary navbar-bg" style="padding-left: 30px; padding-right: 30px;">
  <div class="container-fluid d-flex justify-content-between" style="gap: 10px;">
    <div class="d-flex align-items-center">
      <img src="../../../assets/build/img/png/cloudy-logo.png" alt="cloudy-logo" width="30" style="margin-right: 5px;">
      <h3 class="mb-0 mt-1">WeatherApp</h3>
    </div>
    <button class="navbar-toggler button-search" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
      <span>
        <img src="../../../assets/build/img/svg/search-icon.svg" alt="search icon">
      </span>
    </button>
    <div class="input-group collapse navbar-collapse" id="navbarToggler" style="width: fit-content; flex-grow: 0;">
      <input id="autocomplete-input" type="text" class="form-control search-input" placeholder="Give me a country or city" aria-label="Recipient's username" aria-describedby="button-addon2">
    </div>
  </div>
</nav>
