@use '../../../assets/build/scss/colors.scss' as colors;

#navbar-own-style {
  padding: 15px 0px;
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15), inset 0 -1px 0 rgba(255,255,255,0.15);
  background-color: colors.$primary !important;
  color: colors.$white
}

#container-style {
  gap: 10px;
  padding: 0px;
}

#autocomplete-input {
  border: 1px solid rgba(255,255,255,0.4);
}

#navbarToggler {
  width: fit-content;
  flex-grow: 0;
}

.search-input {
  width: 380px;
  max-width: 500px;
}

.button-search {
  background-color: colors.$white;
  &:focus {
    box-shadow: none !important;
  }
}
