@use '../../../../../assets/build/scss/colors.scss' as colors;

.container-style {
  width: 100%;
  height: 300px;
  background-image: linear-gradient(to bottom right, colors.$primary, colors.$secondary);
  border-radius: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
