.container-style {
  width: 70%;
  height: 300px;
  background-image: linear-gradient(to bottom right, #8540F5, #8540f554);
  border-radius: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
