<div class="container mt-5" *ngIf="firstCall; else initialView">
  haz la primera busqueda
</div>
<ng-template #initialView>
  <div class="container mt-5" *ngIf="weather$ | async as weather">
    <div class="col-12">
      <div class="row">
        <div class="d-flex align-items-center">
          <span>
            <img
            src="https://flagcdn.com/{{weather.city.country | lowercase}}.svg"
            width="50"
            alt="country flag"
            style="border-radius: 100%; width: 32px; height: 32px;margin-right: 10px;"
            >
          </span>
          <h1 class="text-capitalize" style="margin-bottom: 0;">{{weather.city.name}}</h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <app-accordion [weather]="weather"></app-accordion>
      </div>
      <div class="col-6">
        <app-map [placeName]="weather.city.name" [lat]="weather.city.coord.lat" [lon]="weather.city.coord.lon"></app-map>
      </div>
    </div>
  </div>
</ng-template>
