<div class="container" *ngIf="firstCall; else initialView" style="margin-top: 20%;">
  <div class="row">
    <div class="d-flex flex-row">
      <article class="type_style">
        Try with:
      </article>
      <article class="typing_effect" *ngIf="showAnimation">
        {{currentPlace}}
      </article>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <input
        class="form-control search-input"
        ngx-google-places-autocomplete
        [options]="options"
        #placesRef="ngx-places"
        (onAddressChange)="handleChange($event)"
      />
    </div>
  </div>
</div>

<ng-template #initialView>
  <div class="container" *ngIf="weather$ | async as weather">

    <div class="row mt-4">
      <div class="col-12">
        <div class="d-flex flex-row align-items-center">
          <span>
            <img
            src="https://flagcdn.com/{{weather.city.country | lowercase}}.svg"
            width="50"
            alt="country flag"
            class="img-flag"
            >
          </span>
          <h1 class="text-capitalize mb-0">{{weather.city.name}}</h1>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <app-accordion [weather]="weather"></app-accordion>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-10 ms-auto mt-5">
            <div style="width: 100%; height: 300px; background-color: #8540F5;border-radius: 50px; margin-left: auto;margin-bottom: 20px;"></div>
            <app-map [placeName]="weather.city.name" [lat]="weather.city.coord.lat" [lon]="weather.city.coord.lon"></app-map>
          </div>
        </div>
      </div>
    </div>

  </div>
</ng-template>
